/target
/Cargo.lock
**/target

# vscode
.vscode/

# env files
*.env

# sqlite databases
*.db

# pcap logs
*.pcapng

# Keys
keys/**

# data files
game_data/**
/shroom-metadata

# tuf
client_repo/**

*.svg
*.png
*.tar
*.tar.xz
*.zip
**/deploy.sh

## eof log
packets_eof.log

# additionals
strings.json
get_str.py
.idea